@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');

:root{
    --text-color: white;
    --primary-color: white;
    --secondary-color: darkgray;
}

body {
    background-color: #121212;
    color: var(--text-color);
    font-family: 'Asimovian', --apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#login-btn{
    border-radius: 50px;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
    width: 10rem;
}

#login-btn:hover{
    transform: scale(1.05);
    width: 21rem;
}

.page-section {
    /* Hide all sections by default */
    display: none;
}
.page-section.active {
    /* Show the active section */
    display: block;
}

.card-button {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
.card-button:hover {
    transform: scale(1.05);
}

.form-section {
    margin-bottom: 2rem;
}

.action-buttons {
    margin-top: 1rem;
}
.order-item {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
.quantity-control {
    display: flex;
    align-items: center;
}
.quantity-btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantity-input {
    width: 50px;
    text-align: center;
    margin: 0 5px;
}

