@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');

:root{
    --text-color: white;
    --primary-color: white;
    --secondary-color: darkgray;
}

body {
    background-color: #121212;
    color: var(--text-color);
    font-family: 'Asimovian', --apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}